body{
    flex-direction: column;
    background-color:cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: aliceblue;
}

.calculadora{
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.551);
}
#display{
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: rgba(183, 183, 182, 0.445);
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
}
.box-button{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   gap: 10px;
}
button{
   border: none;
   border-radius: 3px;
   height: 50px;
   font-size: 20px;
}
button:hover{
    background-color: rgba(240, 248, 255, 0.555);
    cursor: pointer;
    transition: 0.6ms;
}
#btn-res{
    grid-row: 4 / 7;
    height: 91.5%;
    grid-column: 4 ;

}
#btn-0{
    grid-column: 1 / 3;
    
}